html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    background-image: url("../img/wallpaper01.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 36px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

button {
    display: flex;
    margin: auto;
}

img {
 
   border: 2px solid black;
   width: 960px;
   height: 540px;
   margin: 0 10px;
}