* {
	box-sizing: border-box;	
}

html {
	
}

body {
  margin: 0 auto;
}

/* de kop */
h1 {
	font-size: 4rem;
 	text-align: center;
}

/* de films */
main {
	display:grid;
	grid-gap:2em;
	justify-content:center;
}
article {
	width:24em;
	padding:2em;
	background:#00BDEA;
	display:grid;
	grid-template-columns:min-content 1fr;
	grid-gap:2em;
}


article h2 {
  font-size: 2.5rem;
	margin:0;
	writing-mode:vertical-lr;
}