* {
	box-sizing: border-box;	
    font-family: 'Fjalla One', sans-serif;
   
}

html {
	
}

body {
  margin: 0 auto;
 background-image: url(../img/ghibli-wallpapers-desktop-For-Free-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

/* de kop */
h1 {
	font-size: 4rem;
 	text-align: center;
}

/* de films */
main {
	display:grid;
	grid-gap:2em;
	justify-content:center;
}


/* Ik had het geprobeerd op de manier via de link die je meestuurde (beter voor screenreaders), maar toen klapte hij niet meer uit. Ik dacht dat ik dan de styling die ik bij de article had kon plakken bij de styling van .show, maar dat werkte ook niet. Kom er helaas niet uit, dus dan maar zo :( */
article {
    border-radius: 10px;
    border: none;
	width:24em;
	padding:2em;
	background:#00BDEA;
	display:none;
	grid-template-columns:min-content 1fr;
	grid-gap:2em;  
    /* Dit probeerde ik ook op te zoeken, maar het werkt bij mij niet. Dit is ook zoals jouw codpen "iets laten bewegen". Of kun je een article niet animeren?
    transition:1s; */ 
}

article.show {
	display:grid;
    transform:translateX(35%);
}

article h2 {
  font-size: 2.5rem;
	margin:0;
	writing-mode:vertical-lr;    
}


/* Dit stuk samen gedaan met Gerben. Alleen in mijn website blijft de list onzichtbaar? Weet niet waarom, hij is nergens hidden. Als ik op de jaartijden klik komt hij ook niet tevoorschijn, dus ik weet niet waar het dan aan ligt. */
.watchlist {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    min-height: 1em;
    margin: 0 auto;
    padding: .5em;
}

.watchlist::before {
    content: "Drag your movies here to add them to your personal watch list";
    width: 100%;
    left: 0;
    top: 2.5%;
    font-size: .5em;
    text-align: center;
    transition: .25s;
}

.watchlist:empty::before {
    top: calc(50% - .65em);
    font-size: 1.3em;
}

button {
    display: grid;
    margin-bottom: 1em;
    justify-content: center;
    width: 5em; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
   transition:.2s ease-in-out; 
}

button:hover {
    border-radius: 10px;
    background-color: #00BDEA;
    border: none;
    cursor: pointer;
    transform: scale(1.1);
}